<div class="sidemenu">
  <div class="sidemenu_head png">
    <h2>关于我们</h2>
    <em>ABOUT US</em>
  </div>
  <ul class="sidemenu_body png">
    <li><a{{#startsWith permalink "/about/"}} class="sidemenu_current png"{{/startsWith}} href="/about/">关于我们</a></li>
    <li><a{{#is belongs_to "job"}} class="sidemenu_current png"{{/is}} href="/job/">职位招聘</a></li>
    <li><a{{#startsWith permalink "/contact/"}} class="sidemenu_current png"{{/startsWith}} href="/contact/">联系我们</a></li>
  </ul>
  <div class="sidemenu_foot png"></div>
</div>
<div class="sidebox marginTop10px">
  <div class="sidebox_head png">联系我们</div>
  <div class="sidebox_body">
  <ul>
  <li>佛山市顺德区捷通数码科技有限公司</li>
  <li>邮件：sales@jetone.cn</li>
  <li>全国服务热线：400-833-6110</li>
  <li>销售：0757-22228768</li>
  <li>客服：0757-22229110</li>
  <li>技术：0757-22236110</li>
  <li>地址：佛山市顺德区大良105国道飞马路口翔业楼2楼</li>
  </ul>
  </div>
  <div class="sidebox_foot png"></div>
</div>
