---
title: 关于我们
keywords: 佛山GPS
description: 广东佛山顺德广州GPS厂家捷通数码是一家以GPS定位系统、智能化交通系统、GIS地理信息系统产品的研发、生产、销售、运营于一体的高科技企业。
permalink: /about/
nav: about
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <div class="clear"></div>
      <div class="content">
<p>捷通数码科技有限公司是一家以GPS定位系统、智能化交通系统、GIS地理信息系统产品的研发、生产、销售、运营于一体的高科技企业。</p>
<p>捷通数码科技有限公司投身于GPS行业，有着强大的技术背景和非常丰富的行业经验。捷通数码捷通数码系列GPS定位系统、GPS调度系统、GPS监控系统、GPS跟踪系统、GIS系统项目现分别在佛山、合肥、成都、武汉、西安等地设有办事机构，在全国多个地级城市设有办事专员。捷通数码计划大力增加各方投入，努力打造GPS、GIS行业领先品牌。</p>
<p>捷通数码科技有限公司自始至终以高科技品牌为发展方向，以人为本、以质取信、以新图强的核心价值观；立足佛山，面向世界，广泛开展多种形式的国际技术交流与合作，不断增强科技成果的转化和应用全面将GPS产业推向客运、出租、航运、物流、公安、消防、押运等各个领域。</p>
<p>捷通数码研发的具备国际领先水平的捷通数码GPS全球卫星定位系统硬件产品多以美国、德国、瑞士等进口国际高端芯片制造，讲究产品的品质、实用和售后服务，公司经营“捷通数码”系列品牌GPS监控类产品，及“灵捷”系列品牌导航类产品，并以优良的服务得到了众多用户的认可与信赖。</p>
<p>我们开发的软件系统产品也具有很强的技术优势：B/S、C/S双架构、9种地图自由切换、路况信息实时通报、同屏双地图显示、路线智能分析、异常状况排查、运单、车辆挂接、货物交收分析、手机java版监控软件等业界领先技术是市场竞争力的源泉。</p>
<p>现公司捷通数码GPS项目部下设开发部、工程部、运营部、市场部、售后服务调配中心。捷通数码一直本着以人为本，合作多赢的原则，一举成为业内成绩卓越、服务优良的GPS产品、GIS地理系统供应商。我们期待市场触觉敏锐的有识之士与我们携手共同发展！</p>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
