---
title: 联系我们
keywords: 顺德GPS
description: 广东佛山顺德广州合肥GPS专业生产厂家捷通数码致力研发生产各类高品质视频监控产品和GPS监控产品，如有疑问，可根据以下联系方式联系我们。
permalink: /contact/
nav: contact
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <div class="clear"></div>
      <div class="content">
      <p class="ol">佛山市顺德区捷通数码科技有限公司</p>
      <p class="ol">邮件：sales@jetone.cn</p>
      <p class="ol">全国服务热线：400-833-6110</p>
      <p class="ol">电话：0757-22228768</p>
      <p class="ol">地址：佛山市顺德区大良105国道飞马路口翔业楼2楼</p>
      <iframe width="680" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?q=%E4%BD%9B%E5%B1%B1%E5%B8%82%E9%A1%BA%E5%BE%B7%E5%8C%BA%E5%A4%A7%E8%89%AF105%E5%9B%BD%E9%81%93%E9%A3%9E%E9%A9%AC%E8%B7%AF%E5%8F%A3%E7%BF%94%E4%B8%9A%E6%A5%BC2%E6%A5%BC%EF%BC%88%E7%94%B5%E8%AF%9D%EF%BC%9A0757-22228768%EF%BC%89(%E4%BD%9B%E5%B1%B1%E5%B8%82%E9%A1%BA%E5%BE%B7%E5%8C%BA%E6%8D%B7%E9%80%9A%E6%95%B0%E7%A0%81%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8)%4022.839289,+113.238471&amp;sspn=0.007795,0.008669&amp;brcurrent=3,0x34024ed09f70f8c9:0xc00e0e23523ac264,0,0x340248b2ba983d31:0x726fbd60197a4f76%3B5,0,0&amp;t=m&amp;ie=UTF8&amp;ll=22.839289,+113.238471&amp;spn=0.027698,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?q=%E4%BD%9B%E5%B1%B1%E5%B8%82%E9%A1%BA%E5%BE%B7%E5%8C%BA%E5%A4%A7%E8%89%AF105%E5%9B%BD%E9%81%93%E9%A3%9E%E9%A9%AC%E8%B7%AF%E5%8F%A3%E7%BF%94%E4%B8%9A%E6%A5%BC2%E6%A5%BC%EF%BC%88%E7%94%B5%E8%AF%9D%EF%BC%9A0757-22228768%EF%BC%89(%E4%BD%9B%E5%B1%B1%E5%B8%82%E9%A1%BA%E5%BE%B7%E5%8C%BA%E6%8D%B7%E9%80%9A%E6%95%B0%E7%A0%81%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8)%4022.839289,+113.238471&amp;hl=zh-CN&amp;sll=22.781167,113.307323&amp;sspn=0.007795,0.008669&amp;brcurrent=3,0x34024ed09f70f8c9:0xc00e0e23523ac264,0,0x340248b2ba983d31:0x726fbd60197a4f76%3B5,0,0&amp;t=m&amp;ie=UTF8&amp;ll=22.839289,+113.238471&amp;spn=0.027698,0.036478&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">查看大图</a></small>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
