---
permalink: /location/
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
    <div class="sidemenu">
      <div class="sidemenu_head png">
        <h2>人员定位</h2>
        <em>LOCATION</em>
      </div>
      <ul class="sidemenu_body png">
        <li><a class="sidemenu_current png" href="{{ pkg.url }}/location/">人员定位</a></li>
      </ul>
      <div class="sidemenu_foot png"></div>
    </div>
{{>contact}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      <h2 class="pagetitle ptlocation png">人员定位</h2>
      <h5 class="pgposition"></h5>
      <div class="clear"></div>
      <div class="content">
        内容
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
