---
title: 人员定位
keywords: 人员定位
description: 人员定位
permalink: /location/
nav: 'location'
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
    <div class="sidemenu">
      <div class="sidemenu_head png">
        <h2>人员定位</h2>
        <em>LOCATION</em>
      </div>
      <ul class="sidemenu_body png">
        <li><a class="sidemenu_current png" href="{{ pkg.url }}/location/">人员定位</a></li>
      </ul>
      <div class="sidemenu_foot png"></div>
    </div>
{{>contact}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      {{>bread}}
      <div class="clear"></div>
      <div class="content">
        <strong>人员定位服务平台使用手册</strong><br />
<strong>1.</strong><strong>用户类型及权限关系</strong><br />
在使用人员定位服务平台时，首先需要了解后台用户之间的权限关系（如图1）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <img src="/images/location/location-001.jpg" style="width: 431px; height: 358px;" /></td>
    </tr>
    <tr>
      <td>
        图1</td>
    </tr>
  </tbody>
</table>
&gt;&gt; 平台管理员<br />
可创建总公司，并为总公司增加公司管理员；<br />
&gt;&gt; 公司管理员<br />
可创建分公司、部门和普通员工，并为分公司增加公司经理，为部门增加部门主管；<br />
&gt;&gt; 公司经理<br />
同理，公司经理可为该分公司创建部门和普通员工，并为部门增加部门主管；<br />
&gt;&gt; 部门主管<br />
以上权限关系为树状层级关系，方便公司管理员管理该公司内各级人员定位情况<br />
&nbsp;<br />
<strong>2.</strong><strong>如何使用人员定位服务平台</strong><br />
人员定位服务平台目前分为首页、档案管理、位置管理、系统管理、工作管理、统计报表六大模块。<br />
&gt;&gt; 首页<br />
展示一些公告信息、工作简报、软件下载及系统简介等<br />
&gt;&gt; 档案管理<br />
包括部门区划、员工管理、客户管理三大部分，展示了各层级权限隶属关系<br />
&gt;&gt; 位置管理<br />
主要包括员工管理，地标管理及客户管理，可在地图上清晰查看每个员工的位置信息<br />
&gt;&gt; 系统管理<br />
包括个人信息、修改密码，发布公告和个人参数，其中公告信息可在首页查看<br />
&gt;&gt; 工作管理<br />
包括考勤信息，工作日报和消息统计，其中工作日报可在首页查看<br />
&gt;&gt; 统计报表<br />
包括位置报表和照片浏览<br />
注：针对不同用户级别，用户查看到的模块不同<br />
如：<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-002.jpg" style="width: 636px; height: 55px;" /></strong></td>
    </tr>
    <tr>
      <td>
        平台管理员=首页+档案管理+系统管理</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-003.jpg" style="width: 636px; height: 54px;" /></strong></td>
    </tr>
    <tr>
      <td>
        公司管理员 / 部门主管=首页+档案管理+位置管理+系统管理+工作管理+系统统计</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-004.jpg" style="width: 634px; height: 58px;" /></strong></td>
    </tr>
    <tr>
      <td>
        普通员工=首页+档案管理+位置管理+系统管理</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<strong>2.1</strong><strong>档案管理</strong><br />
2.1.1档案管理分为部门区划、员工管理、客户管理，作为一个<strong>平台管理员</strong>首先需要创建公司管理员来对他的公司进行管理，其中涉及部门与员工的关系，如下：<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img alt="" src="/images/location/location-005.jpg" /></strong></td>
    </tr>
  </tbody>
</table>
其中：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　表示部门类型；　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　表示表示员工类型<br />
&nbsp;<br />
2.1.1.1创建部门（总公司）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-006.jpg" style="width: 633px; height: 330px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图2</td>
    </tr>
  </tbody>
</table>
平台管理员登录后，可看到主页，在主页可以下载手机定位软件（如图3）<br />
<img src="/images/location/location-007.jpg" style="width: 41px; height: 26px;" />&nbsp;显示最新上传未查看图片数量，点击&nbsp;<img height="26" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image007.jpg" width="41" />&nbsp;查看最新上传图片<br />
<img height="27" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image008.jpg" width="38" />&nbsp;显示最新未查看消息，点击&nbsp;<img height="27" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image008.jpg" width="38" />&nbsp;查看最新消息<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-001.jpg" style="width: 645px; height: 368px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图3</td>
    </tr>
  </tbody>
</table>
选择&ldquo;档案管理&mdash;部门区划&rdquo;，并点击&nbsp;<img height="32" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image010.jpg" width="131" />&nbsp;或者&nbsp;<img height="27" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image011.jpg" width="26" />&nbsp;（如图4）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-008.jpg" style="width: 642px; height: 219px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图4</td>
    </tr>
  </tbody>
</table>
即打开&ldquo;档案管理&mdash;部门区划&rdquo;，创建&ldquo;总公司&rdquo;（如图5)，填写相关信息，提交即可。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-009.jpg" style="width: 650px; height: 278px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图5</td>
    </tr>
  </tbody>
</table>
上限人数：是指该公司可容纳的总人数（平台管理员可以设置）。<br />
&nbsp;<br />
2.1.1.2创建员工（公司管理员）<br />
选择&ldquo;档案管理&mdash;员工管理&rdquo;，点击&ldquo;增加&rdquo;按钮（如图6）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-011.jpg" style="width: 648px; height: 293px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图6</td>
    </tr>
  </tbody>
</table>
打开&ldquo;档案管理&mdash;员工管理&rdquo;后，填写详细信息，点击&ldquo;提交&rdquo;即 创建公司管理员（如图7）。<br />
过期时间：是指该用户的过期日期，到期后该员工就不能再登录使用了。下级员工的过期时间不能超过上级的过期时间。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-012.jpg" style="width: 636px; height: 345px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图7</td>
    </tr>
  </tbody>
</table>
注：此处填写的&ldquo;员工姓名&rdquo;和&ldquo;员工密码&rdquo;是员工登录后台时填写的&ldquo;用户名&rdquo;和&ldquo;密码&rdquo;。<br />
&nbsp;<br />
2.1.2作为<strong>公司管理员</strong>，在创建下级部门及用户时，其关系如下：<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img alt="" src="/images/location/location-013.jpg" /></strong></td>
    </tr>
  </tbody>
</table>
其中：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　表示部门类型；　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　表示表示员工类型<br />
&nbsp;<br />
2.1.2.1创建部门（分公司、部门）<br />
公司管理员登录后，选择&ldquo;档案管理&mdash;部门区划&rdquo;，点击平台管理员创建的&ldquo;总公司&rdquo;，如：这里是&ldquo;西安超越软件&rdquo;（如图8）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-014.jpg" style="width: 650px; height: 194px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图8</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-015.jpg" style="width: 143px; height: 34px;" />&nbsp;或 图标&nbsp;<img src="/images/location/location-016.jpg" style="width: 26px; height: 27px;" />&nbsp;打开&ldquo;档案管理&gt;部门管理&rdquo;，填写相关信息，部门类型选择&ldquo;分公司 / 部门&rdquo;（如图9）提交即可。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-015.jpg" style="width: 650px; height: 242px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图9</td>
    </tr>
  </tbody>
</table>
另，在&ldquo;档案管理&gt;部门区划&rdquo;下，点击&ldquo;分公司&rdquo;可继续为其创建下级部门（如图10）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-016.jpg" style="width: 650px; height: 319px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图10</td>
    </tr>
  </tbody>
</table>
填写部门相关信息提交后，便成功为该分公司创建下级部门（如图11）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-017.jpg" style="width: 650px; height: 221px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图11</td>
    </tr>
  </tbody>
</table>
<img src="/images/location/location-018.jpg" style="width: 136px; height: 40px;" />分别代表修改、删除、禁用，设置功能；<br />
&nbsp;<br />
2.1.2.2创建员工（公司经理、部门主管、普通员工）<br />
打开&ldquo;档案管理&mdash;员工管理&rdquo;，点击&nbsp;<img src="/images/location/location-019.jpg" style="width: 54px; height: 27px;" />&nbsp;按钮（如图12）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-020.jpg" style="width: 650px; height: 195px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图12</td>
    </tr>
  </tbody>
</table>
填写员工相关信息，如：员工类型、所属部门、员工姓名等。其中：员工类型 分为&ldquo;公司经理、部门主管、普通员工&rdquo;，根据用户需求选择不同员工类型，提交即可。<br />
<img src="/images/location/location-021.jpg" style="width: 109px; height: 33px;" />&nbsp;分别代表删除、修改，设置功能。<br />
注：当员工类型为公司经理时，所属部门只能看到某分公司（如图13）；<br />
　　当员工类型为部门主管或普通员工时，所属部门可以具体到某部门（如图14、15）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-022.jpg" style="width: 648px; height: 284px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图13</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-023.jpg" style="width: 648px; height: 314px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图14</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-024.jpg" style="width: 643px; height: 266px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图15</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.1.2.3创建客户<br />
2.1.2.3.1在人员定位服务平台创建客户<br />
打开&ldquo;档案管理&mdash;客户管理&rdquo;，点击&ldquo;增加&rdquo;按钮（如图16）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-025.jpg" style="width: 645px; height: 204px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图16</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-026.jpg" style="width: 41px; height: 33px;" />&nbsp;可以看到该客户的具体位置，&nbsp;<img height="30" src="file:///C:/Users/ADMINI~1/AppData/Local/Temp/msohtml1/01/clip_image031.jpg" width="71" />&nbsp;分别代表删除、修改功能；<br />
填写客户详细信息，点击&ldquo;提交&rdquo;即可（如图17）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-026.jpg" style="width: 645px; height: 334px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图17</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-027.jpg" style="width: 81px; height: 32px;" />&nbsp;可以选择客户图标，点击<img src="/images/location/location-028.jpg" style="width: 78px; height: 33px;" />出现地图选择客户位置后，经纬度由系统带出。<br />
&nbsp;<br />
2.1.2.3.2利用手机定位软件创建客户<br />
员工登录手机人员定位在主页面点击<img src="/images/location/location-029.jpg" style="width: 65px; height: 71px;" />&nbsp;进入手机增加新客户界面（如图18）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-030.jpg" style="width: 358px; height: 535px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图18</td>
    </tr>
  </tbody>
</table>
注：利用手机添加客户时，当前经纬度是用户所在位置的经纬度，且经纬度不可以修改。<br />
填写客户名称后，点击&nbsp;<img src="/images/location/location-031.jpg" style="width: 107px; height: 29px;" />&nbsp;即添加成功<br />
&nbsp;<br />
<strong>2.2</strong><strong>位置管理</strong><br />
2.2.1员工管理<br />
打开&ldquo;位置管理&mdash;员工管理&rdquo;可以在地图中清晰的看到员工的位置信息，它由两部分组成（如图19）<br />
左边：树状结构，展示各部门与员工的隶属关系；<br />
右边：在地图上定位员工，当鼠标放置员工小图像上方时，出现浮动窗显示员工具体位置信息等。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-032.jpg" style="width: 650px; height: 324px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图19</td>
    </tr>
  </tbody>
</table>
<img src="/images/location/location-033.jpg" style="width: 22px; height: 22px;" />&nbsp;表示没有上线，<img src="/images/location/location-034.jpg" style="width: 30px; height: 24px;" />表示总公司管理员，&nbsp;<img src="/images/location/location-035.jpg" style="width: 27px; height: 25px;" />表示分公司管理员，<img src="/images/location/location-036.jpg" style="width: 24px; height: 26px;" />表示部门主管。<br />
2.2.1.2 轨迹回放<br />
打开&ldquo;位置管理&mdash;员工管理&rdquo;选中员工，点击 员工姓名，可以在地图上看到该员工的具体位置信息，点击 员工位置信息中的&nbsp;<img src="/images/location/location-037.jpg" style="width: 71px; height: 32px;" />&nbsp;或右上方按钮&nbsp;<img src="/images/location/location-038.jpg" style="width: 31px; height: 29px;" />（如图20）即可跳转至轨迹回放界面。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-039.jpg" style="width: 650px; height: 324px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图20</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img alt="" src="/images/location/location-040.jpg" /></strong></td>
    </tr>
  </tbody>
</table>
点击红框&nbsp;<img src="/images/location/location-041.jpg" style="width: 20px; height: 21px;" />&nbsp;按钮，隐藏员工信息数据<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img alt="" src="/images/location/location-042.jpg" style="width: 641px; height: 40px;" /></strong></td>
    </tr>
  </tbody>
</table>
点击红框&nbsp;<img src="/images/location/location-043.jpg" style="width: 20px; height: 18px;" />&nbsp;按钮，显示员工信息数据<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-044.jpg" style="width: 650px; height: 323px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图21</td>
    </tr>
  </tbody>
</table>
弹出&ldquo;轨迹回放&rdquo;对话框（如图22）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-045.jpg" style="width: 642px; height: 320px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图21</td>
    </tr>
  </tbody>
</table>
<img src="/images/location/location-046.jpg" style="width: 23px; height: 25px;" />&nbsp;开始/暂停按钮　&nbsp;<img src="/images/location/location-047.jpg" style="width: 20px; height: 22px;" />&nbsp;清除轨迹按钮，点击后消除轨迹，可以重新选择轨迹回放时间段<img src="/images/location/location-048.jpg" style="width: 23px; height: 24px;" />退出轨迹回放。<br />
<img src="/images/location/location-049.jpg" style="width: 113px; height: 29px;" />&nbsp;单独选择基站表示的是基站定位，全选或全不选都表示混合定位<br />
<img src="/images/location/location-050.jpg" style="width: 108px; height: 29px;" />&nbsp;全部选择则显示此时间范围上传的图片和消息<br />
注：正在轨迹回放时，点击左边&ldquo;员工管理&rdquo;切换员工，会自动清除正在回放的轨迹，切换到重新选择的员工轨迹回放界面。&nbsp; 例如：正在回放员工jd002的轨迹，点击 员工huahua，轨迹回放对话框会自动转到huahua，点击播放会回放huahua的轨迹（如图23）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-051.jpg" style="width: 637px; height: 312px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图23</td>
    </tr>
  </tbody>
</table>
上下线提醒功能(如图24，25)<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-052.jpg" style="width: 634px; height: 353px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图24</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-053.jpg" style="width: 637px; height: 353px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图25</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.2.1.3下发消息<br />
打开&ldquo;位置管理&mdash;员工管理&rdquo;选中员工，点击 员工姓名，可以在地图上看到该员工的具体位置信息，点击（如图20） 员工位置信息中的&nbsp;<img src="/images/location/location-054.jpg" style="width: 71px; height: 32px;" />&nbsp;或右上方按钮&nbsp;<img src="/images/location/location-055.jpg" style="width: 31px; height: 32px;" />&nbsp;，弹出下发消息对话框（如图23），即可添加消息下发至员工手机。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-056.jpg" style="width: 646px; height: 324px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图26</td>
    </tr>
  </tbody>
</table>
<img src="/images/location/location-057.jpg" style="width: 71px; height: 32px;" />&nbsp;可为单个员工下发消息，点击&nbsp;<img src="/images/location/location-058.jpg" style="width: 31px; height: 32px;" />&nbsp;可以群发消息至所选择员工（如图27）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-059.jpg" style="width: 645px; height: 324px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图27</td>
    </tr>
  </tbody>
</table>
此功能需要与手机人员定位软件相结合使用，管理员发送消息，员工可根据自己的手机号码登录人员定位手机软件，点击&nbsp;<img src="/images/location/location-060.jpg" style="width: 69px; height: 80px;" />查看并回复消息，也可以编辑消息发给管理员。<br />
&nbsp;<br />
2.2.2地标管理<br />
打开&ldquo;位置管理&mdash;地标管理&rdquo;，点击右上方按钮&nbsp;<img src="/images/location/location-061.jpg" style="width: 29px; height: 29px;" />&nbsp;，然后在地图上单击需要添加标注的地方，弹出&ldquo;添加标注&rdquo;对话框，填写名称、备注等，提交即可（如图28）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-062.jpg" style="width: 653px; height: 328px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图28</td>
    </tr>
  </tbody>
</table>
对于不同员工类型创建的地标，分别显示在不同部门下（如图29）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-063.jpg" style="width: 650px; height: 323px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图29</td>
    </tr>
  </tbody>
</table>
2.2.3客户管理<br />
打开&ldquo;位置管理&mdash;客户管理&rdquo;可以在地图中清晰的看到客户的位置信息，它由两部分组成（如图30）<br />
左边：树状结构，展示各部门与客户的隶属关系；<br />
右边：在地图上定位客户，当鼠标放置客户小图像上方时，出现浮动窗显示客户具体位置信息等。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-064.jpg" style="width: 650px; height: 320px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图30</td>
    </tr>
  </tbody>
</table>
其中灰颜色小房子图标表示不在线，有颜色小房子图标表示在线。<br />
&nbsp;<br />
2.2.4电子围栏<br />
打开&ldquo;位置管理&mdash;电子围栏&rdquo; 点击右上方按钮&nbsp;<img src="/images/location/location-065.jpg" style="width: 32px; height: 30px;" />&nbsp;，然后在地图上需要添加电子围栏的地方打点，根据所打的点确定一个围栏，点击确定，弹出对话框，填写名称、备注等，提交即可（如图31）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-066.jpg" style="width: 650px; height: 318px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图31</td>
    </tr>
  </tbody>
</table>
注:电子围栏仅有公司管理员能创建，且只有公司管理员能看见<br />
公司管理员查看电子围栏，可对其进行修改删除(如图32)<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-067.jpg" style="width: 644px; height: 324px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图32</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<strong>2.3</strong><strong>系统管理</strong><br />
2.3.1个人信息<br />
打开&ldquo;系统管理&mdash;个人信息&rdquo;填写个人信息，用于记录当前登录用户的个人相关信息，如实填写即可（如图33）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-068.jpg" style="width: 650px; height: 226px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图33</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.3.2修改密码<br />
打开&ldquo;系统管理&mdash;修改密码&rdquo; 可以修改该管理员的登录密码（如图34）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-069.jpg" style="width: 641px; height: 156px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图34</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.3.3发布公告<br />
打开&ldquo;系统管理&mdash;发布公告&rdquo;，点击&ldquo;增加&rdquo;按钮（如图35），填写公告信息，发布公告。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-070.jpg" style="width: 650px; height: 207px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图35</td>
    </tr>
  </tbody>
</table>
注意：<br />
&gt;&gt; 系统管理&mdash;发布公告：上级管理员可以查看下级及本人发布的公告，并对下级及本人发布的公告有删除权限（如图36）；<br />
&gt;&gt; 本人发布的公告，可在&ldquo;首页&mdash;公告信息&rdquo;（如图37）或&ldquo;系统管理&mdash;发布公告&rdquo;查看，同时，可在&ldquo;首页&mdash;公告信息&rdquo;看到所有上级发布的公告。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-071.jpg" style="width: 650px; height: 235px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图36</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-072.jpg" style="width: 649px; height: 308px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图37</td>
    </tr>
  </tbody>
</table>
注：管理员只能看到自己和上级发布的公告，不能看到下级的公告。<br />
2.3.4个人参数<br />
打开&ldquo;系统管理&mdash;个人参数&rdquo; 可以设置定位时间间隔、最晚签到时间、最早签到时间等（如图38）。<br />
注：如果员工签到时间晚于最晚签到时间或早于最早签到时间都为非正常签到。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-073.jpg" style="width: 650px; height: 255px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图38</td>
    </tr>
  </tbody>
</table>
最晚签到时间，最早减退时间的设置（如图39）.<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-074.jpg" style="width: 614px; height: 210px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图39</td>
    </tr>
  </tbody>
</table>
注：点击&ldquo;小时&rdquo;（如图39）中的&ldquo;8&rdquo;出现24个时间点可供选择，点击&ldquo;分钟&rdquo;（如图39）中的&ldquo;30&rdquo;出现12个分钟点可供选择，直接点击数字即可，也可以使用快速选择时间。<br />
&nbsp;<br />
&nbsp;<br />
<strong>2.4</strong><strong>工作管理</strong><br />
工作管理模块需要与手机人员定位软件相结合使用，员工可根据自己的手机号码登录人员定位手机软件，完成&ldquo;签到/签退&rdquo;&ldquo;发布日志&rdquo;&ldquo;发送/接受消息&rdquo;&ldquo;上传照片&rdquo;&ldquo;添加客户&rdquo;&ldquo;查看自己所在具体位置&rdquo;等功能。<br />
2.4.1考勤信息<br />
员工登录<img src="/images/location/location-075.jpg" style="width: 74px; height: 83px;" />&nbsp;在手机人员定位主菜单界面点击<img src="/images/location/location-076.jpg" style="width: 56px; height: 76px;" />&nbsp;（如图40），进行签到。<br />
<img src="/images/location/location-077.jpg" style="width: 88px; height: 77px;" />表示已经签到没有签退，<img src="/images/location/location-078.jpg" style="width: 94px; height: 80px;" />表示已签到已签退，一天只能签到一次，签退一次。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-079.jpg" style="width: 352px; height: 531px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图40</td>
    </tr>
  </tbody>
</table>
打开&ldquo;工作管理&mdash;考勤信息&rdquo;公司管理员或部门主管可以看到本公司员工的签到情况（如图41）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-080.jpg" style="width: 640px; height: 257px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图41</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-081.jpg" style="width: 41px; height: 33px;" />可以查看员工的签到位置或签退位置；<br />
点击<img src="/images/location/location-082.jpg" style="width: 34px; height: 30px;" />可以查看员工每个月非正常签到，签退 情况（如图42）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-083.jpg" style="width: 650px; height: 311px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图42</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.4.2工作日报<br />
员工登录<img src="/images/location/location-084.jpg" style="width: 74px; height: 83px;" />&nbsp;，在手机人员定位主菜单界面点击&nbsp;<img src="/images/location/location-085.jpg" style="width: 59px; height: 86px;" />发布日志（如图43）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-086.jpg" style="width: 358px; height: 538px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图43</td>
    </tr>
  </tbody>
</table>
打开&ldquo;工作管理&mdash;工作日报&rdquo;，公司管理员可以看到公司所有员工发表的工作日报（如图44），也可在&ldquo;首页&mdash;工作简报&rdquo;中查看员工所发送的日志（如图45）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-087.jpg" style="width: 650px; height: 216px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图44</td>
    </tr>
  </tbody>
</table>
点击工作日报的标题可以查看该日报的详细信息，点击&nbsp;<img src="/images/location/location-081.jpg" style="width: 41px; height: 33px;" />可以查看员工发表日报时的具体位置。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-088.jpg" style="width: 650px; height: 305px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图45</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
2.4.3 消息统计<br />
显示该员工向下级员工发送的消息内容，并可查看下级员工向该上级员工发送的消息（如图46）<br />
另，上级管理员也可以点击&ldquo;首页&rdquo;右上角&nbsp;<img src="/images/location/location-089.jpg" style="width: 39px; height: 27px;" />&nbsp;页面直接跳转到&ldquo;工作管理&mdash;消息统计&rdquo;查看消息。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-090.jpg" style="width: 650px; height: 179px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图46</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-091.jpg" style="width: 41px; height: 33px;" />可以查看员工发送消息时的具体位置，点击<img src="/images/location/location-092.jpg" style="width: 28px; height: 22px;" />可以回复消息（如图47），点击<img src="/images/location/location-093.jpg" style="width: 39px; height: 28px;" />可以查看信息的具体内容。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-094.jpg" style="width: 649px; height: 251px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图47</td>
    </tr>
  </tbody>
</table>
员工登录手机定位软件主菜单界面，点击&nbsp;<img src="/images/location/location-095.jpg" style="width: 69px; height: 80px;" />&nbsp;编辑消息（如图48），即可发送消息给上级管理员；<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-096.jpg" style="width: 360px; height: 540px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图48</td>
    </tr>
  </tbody>
</table>
上级管理员即可在后台&ldquo;工作管理&mdash;消息统计&rdquo;列表中看到员工发送的消息（如图46）。<br />
注：此功能需要人员定位软件与手机定位软件相结合使用，管理员发送消息，员工可根据自己的手机号码登录手机定位软件，点击<img src="/images/location/location-097.jpg" style="width: 69px; height: 80px;" />查看并回复消息，也可以编辑消息发给管理员，管理员通过人员定位服务平台&ldquo;消息统计&rdquo;模块查看消息。<br />
&nbsp;<br />
<strong>2.5</strong><strong>统计报表</strong><br />
2.5.1 位置报表<br />
2.5.1.1查看位置报表<br />
打开&ldquo;统计报表&mdash;位置报表&rdquo;，选择下级员工和日期，点击&ldquo;查询&rdquo;，即可查看所选员工在指定日期的位置信息（如图49）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-098.jpg" style="width: 650px; height: 334px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图49</td>
    </tr>
  </tbody>
</table>
2.5.1.2设置时间间隔<br />
打开&ldquo;系统管理&mdash;个人参数&rdquo;，设置时间间隔即可（如图50）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-099.jpg" style="width: 650px; height: 307px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图50</td>
    </tr>
  </tbody>
</table>
2.5.2 照片浏览<br />
员工利用手机定位软件拍照，将照片上传至服务器，便可通过人员定位系统浏览照片。<br />
&nbsp;<br />
2.5.2.1浏览照片<br />
登录&ldquo;统计报表&mdash;照片浏览&rdquo;选择员工和日期，点击&ldquo;查询&rdquo;，即可查看所选员工在指定日期上传的照片（如图51）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-100.jpg" style="width: 650px; height: 320px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图51</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-101.jpg" style="width: 25px; height: 23px;" />修改照片描述，上级和本人能修改照片描述。(如图52)<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-102.jpg" style="width: 650px; height: 422px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图52</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
点击&nbsp;<img src="/images/location/location-103.jpg" style="width: 41px; height: 33px;" />&nbsp;自动打开地图，即可查看该下级员工上传照片时的所在位置（如图53）。<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-104.jpg" style="width: 363px; height: 411px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图53</td>
    </tr>
  </tbody>
</table>
点击&nbsp;<img src="/images/location/location-105.jpg" style="width: 21px; height: 19px;" />&nbsp;可以全屏查看照片，点击&nbsp;<img src="/images/location/location-106.jpg" style="width: 25px; height: 25px;" />&nbsp;可以删除照片，点击&nbsp;<img src="/images/location/location-107.jpg" style="width: 25px; height: 24px;" />&nbsp;可评论照片，本人及上级可对照片进行评论。（如图54）<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-108.jpg" style="width: 639px; height: 351px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图54</td>
    </tr>
  </tbody>
</table>
&nbsp;<br />
&nbsp;<br />
2.5.2.2手机上传照片<br />
操作方法：登录主菜单界面，点击&nbsp;<img src="/images/location/location-109.jpg" style="width: 53px; height: 76px;" />&nbsp;拍照后点击<img src="/images/location/location-110.jpg" style="width: 67px; height: 71px;" />&nbsp;进入（如图55）所示页面<br />
<table border="0" cellpadding="0" cellspacing="0" style="width:100.0%;" width="100%">
  <tbody>
    <tr>
      <td>
        <strong><img src="/images/location/location-111.jpg" style="width: 354px; height: 537px;" /></strong></td>
    </tr>
    <tr>
      <td>
        图55</td>
    </tr>
  </tbody>
</table>
填写照片描述后点击&nbsp;<img src="/images/location/location-112.jpg" style="width: 88px; height: 31px;" />，照片上传成功即可在 &ldquo;统计报表----照片浏览&rdquo;照片列表中看到上传的照片 。<br />
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
