---
permalink: /vehicle/
title: 网上查车
---
<style>
.ftitle {
padding: 5px;
font-size: 25px;
letter-spacing: 25px;
color: #666;
text-align: center;
text-indent: 20px;
}
</style>
<div class="main">

<div class="maincontainer png fixed_width pos_center">

<div style="padding-top: 270px;">
<table width="100%">
  <tr>
    <td class="ftitle">网络版</td>
    <td class="ftitle">专业版</td>
  </tr>
  <tr>
    <td align="center"><a href="http://59.39.71.99:89/gpsonline/" target="_blank"><img src="/images/template/click.png" /></a></td>
    <td align="center"><a href="http://59.39.71.99:8086/" target="_blank"><img src="/images/template/click.png" /></a></td>
  </tr>
</table>
</div>

</div>

</div>
