---
layout: default.hbs
---
<div class="main">
<div class="maincontainer png fixed_width pos_center">
  <div class="twocol">
  <div class="twocol_l">
{{>about}}
  </div>
  <div class="twocol_r">
    <div class="context png">
      <div class="article">
        <h2 class="arc_title">{{title}}</h2>
        <div class="arc_content">
          {{#markdown}}
          {{>body}}
          {{/markdown}}
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
  </div>
</div>
</div>
